.h1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white
}
.producList {
  display: grid;
  grid-template-columns: repeat(3, 22rem);
  grid-template-rows: repeat(3, 23rem);
  place-items: stretch;
  gap: 1rem;
  width: 80%;
  margin: 3rem 0;
}