.filterCont {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000009d;
  padding: 1.5rem;
  gap: 2rem;
  border-radius: .3rem;
  width: 80%;
}

.filterCont div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .3rem;

}

.filterCont div input {
  background-color: transparent;
  height: 1.8rem;
  color: #fff;
  border: none;
  font-size: 1.3rem;
}

.filterCont div input:focus {
  border-bottom: 1px solid rgb(171, 171, 171);
  outline: none;
}

.filterCont div select {
  background-color: transparent;
  height: 1.8rem;
  color: #fff;
  border: none;
  font-size: 1.3rem;
  outline: none
}
.filterCont div select option {
  background-color: rgba(0, 0, 0, 0.886);
  color: #fff;
  border: none;
  outline: none;
}

.filterCont hr {
  height: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.231)
}

/* more specificity to overide property values and dont using !important */
.filterCont .searchCont {
  align-items: center;
  justify-content: center;
}

.filterCont .searchCont .buttonCont {
  display: flex;
  flex-direction: row;
}

.searchCont span {
  color: rgb(255, 199, 25);
}

.errorMessage {
  color: red;
  font-weight: 800;
  outline:1px dotted rgb(214, 38, 38);
  padding: 3px;
  font-size: .8rem;
}

/* hide default buttons for number type inputs */
.filterCont div input[type="number"]::-webkit-inner-spin-button,
.filterCont div input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (1401px <= width <= 2200px) {
  .filterCont {
    justify-content: space-evenly;
    padding: .9rem .5rem;
    border-radius: .3rem;
    width: 72rem;
  }
}
@media (1200px <= width <= 1400px) {
  .filterCont {
    justify-content: space-evenly;
    padding: .9rem .5rem;
    border-radius: .3rem;
    width: 92vw;
  }
}

@media (992px <= width <= 1200px) {
  .filterCont {
    justify-content: center;
    padding: .9rem .5rem;
    border-radius: .3rem;
    width: 92vw;
  }
}

@media (768px <= width <= 992px) {
  .filterCont {
    justify-content: stretch;
    padding: .9rem .5rem;
    border-radius: .3rem;
    width: 92vw;
  }
  .filterCont div {
    gap: .6rem;
    width: 20%;
  }

  .filterCont div input {
    height: 1.8rem;
    font-size: 1rem;
    width: 100%;
  }
}

@media (576px <= width <= 768px) {
  .filterCont {
    
    align-items: center;
    justify-content: stretch;
    padding: 1.1rem .8rem;
    border-radius: .3rem;
    width: 90vw;
  }
  .filterCont div {
    gap: .1rem;
  }
  .filterCont div input {
    height: 1.8rem;
    font-size: 1rem;
    width: 100%;
  }
}

@media (0px <= width <= 576px) {

  .filterCont {
    min-width: 90%;
    justify-content: space-evenly;
    padding: .9rem .5rem;
    border-radius: .3rem;
    width: 80vw;
  }
  .filterCont .priceCont {
    display: none;
  }
  .filterCont hr {
    display: none;
  }
  .filterCont .categoryCont {
    display: none;
  }
  .filterCont div {
  gap: .3rem;
  }
}