.homeCard {
  display: flex;
  margin: 5rem 0;
  width: 70%;
}
.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
}
.h3 {
  font-size: 4.2rem;
}
.separator {
  width: 4rem;
  height: .33rem;
  background-color: rgb(255, 199, 25);
}
.text {
  font-size: 1.5rem;
  line-height: 1.9rem;
  text-align: left;
  width: 90%;
}
.image {
  min-width: 60%;
  height: auto;
}
.button {
  font-size: .95rem;
  font-weight: 100;
  letter-spacing: 1rem;  
  padding: .6rem 1rem;
  letter-spacing: .04rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(252, 202, 49);
  border-radius: 0.3rem;
  color: rgb(255, 199, 25);
}
.subtitle {
  font-size: 1.18rem;
}

/* HD monitor, desktop: 1360 to 1920  */

@media ( 1360px <= width <= 1919px ) {
  .homeCard {
    width: 80%;
  }
  .h3 {
    font-size: 3.4rem;
  }
  .textContent {
    gap: 1.2rem;
  }
  .text {
    font-size: 1.3rem;
    line-height: 1.5rem;
    width: 85%;
  }
  .image {
    min-width: 55%;
    height: auto;
  }
  .button {
    font-size: .95rem;
    font-weight: 100;
    letter-spacing: 1rem;  
    padding: .6rem 1rem;
    letter-spacing: .04rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(252, 202, 49);
    border-radius: 0.3rem;
    color: rgb(255, 199, 25);
  }
}

/* Small monitor, desktop: 1200 to 1360 */

@media (1200px <= width <= 1359px) {
  .image {
    min-width: 50%;
    aspect-ratio: 16 / 9;
  }
  .homeCard {
    display: flex;
    margin: 5rem 0;
    width: 85vw;
  }
}

/* Medium devices, tablets: 992 to 1200 */

@media (992px <= width <= 1199px) {
  .h3 {
    font-size: 3rem;
  }
  .image {
    min-width: 50%;
  }
  .homeCard {
    margin: 0;
    width: 92vw;
  }
}

/* Medium devices, tablets: 768 to 992 */

@media (768px <= width <= 991px) {
  .h3 {
    font-size: 1.8rem;
  }
  .image {
    min-width: 50%;
    height: auto;
  }
  .homeCard {
    margin: 0;
    width: 92vw;
  }
  .textContent {
    gap: 1rem;
  }
  .text {
    font-size: 1rem;
    line-height: 1.2rem;
    width: 95%;
  }
  .separator {
    width: 2.8rem;
    height: .28rem;
    background-color: rgb(255, 199, 25);
  }
  .subtitle {
    font-size: .85rem;
  }
}

/* Small devices, phones: 576 to 768 */

@media (576px <= width <= 767px) {
  .h3 {
    font-size: 1.8rem;
  }
  .image {
    min-width: 50%;
  }
  .homeCard {
    margin: 0;
    width: 92vw;
  }
  .textContent {
    gap: .6rem;
  }
  .text {
    font-size: .9rem;
    line-height: 1rem;
    width: 95%;
  }
  .subtitle {
    font-size: .75rem;
  }
  .button {
    font-size: .72rem;
    font-weight: 100;
    letter-spacing: .8rem;  
    padding: .27rem .4rem;
    letter-spacing: .03rem;
    border-radius: 0.2rem;
  }
}

/* Mainly Phones < 575px */

@media (0px <= width <= 575px) {
  .h3 {
    font-size: 3rem;
  }
  .homeCard {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0;
    width: 94vw;
    border: 1px solid rgb(104, 104, 104);
    border-radius: .6rem;
    padding: 6% 2% 2% 2%;
  }
  .textContent {
    gap: .8rem;
    text-align: center;
    align-items: center;
  }
  .text {
    font-size: 1.15rem;
    line-height: 1.3rem;
    letter-spacing: .1rem;
    width: 90vw;
    text-align: center;
  }
  .subtitle {
    display: none;
  }
  .separator {
    width: 35%;
    height: .3rem;
    
  }
  .image {
    max-width: 90vw;
    border-radius: 3px;
  }
  .button {
    width: 100%;
    margin: .8rem 0;
    font-size: .85rem;
    font-weight: 800;
    color: #000;
    background-color: rgb(255, 199, 25);
  }
}