* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.videoCont {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh; 
  overflow:hidden;
  z-index: -1;
}

.video {
  object-fit: fill;
  height: 100vh;
  z-index: 0;
  user-select: none;
}

/* need test, probably useless */
.homeContent {
  width: 100vw;
  color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}