.main {
  background: url('../assets/video/vid01.mp4') no-repeat center center fixed;
  background-size: cover;
}

.homeContent {
  width: 100vw;
  /* z-index: 999998; */
  color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* ************ */

.cardsCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  padding: 10rem 0;
}