.headerCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: rgba(6, 6, 6, 0.45);
  backdrop-filter: blur(6px);
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 999999;
}
.logoCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .3rem
}
.logoCont h1 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 2.7rem;
  letter-spacing: .32rem;
}
.logoCont h2 {
 font-size: .6rem;
 letter-spacing: .29rem; 
}

@media (0px <= width <= 575px) {
  .headerCont {
    justify-content: space-between;
    padding: 0 4%;  
  }  
}