.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1rem;
  border-radius: .6rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 19rem;
  width: 22rem; */
  padding: 10%;
  z-index: 0;
  transition: 500ms;
}

.product:hover {
  transform: scale(1.05);
  z-index: 1;
}

.product h3 {
  z-index: 2;
  font-size: 1.5rem;
}
.productOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0) 25%, rgb(0, 0, 0) 75%);
  z-index: 1;
  border-radius: 1rem;
}
.separator {
  width: 30%;
  height: 1.5%;
  background-color: rgb(255, 199, 25);
  z-index: 2;
}
.info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  font-size: .9rem;
  gap: .7rem;
  z-index: 2;
}

.info span {
  text-align: left;
  z-index: 2;
}

.price {
  z-index: 2;
  font-weight: 800;
}

@media (0px <= width <= 577px) {
  .product:hover {
    transform: none;
    z-index: 1;
  }
}