.footer {
  width: 100vw;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .9rem;
  background-color: rgba(0, 0, 0, 0.824);
  color: #fff;
}
.footer h2 {
  font-size: 4rem;
  letter-spacing: .1rem;
}
.separator{
  width: 4rem;
  background-color: rgb(255, 199, 25);
  height: .25rem;
}
.footer p {
  font-size: 1.2rem;
  width: 40%;
  text-align: center;
}
.footer form {
  margin: 1.1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}
.footer form div {
  display: flex;
  flex-direction: column;
  gap: .35rem
}
.footer form div label {
  padding-left: .6rem;
  font-size: 1.1rem;
}
.footer form div input {
  width: 23rem;
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid rgb(80, 80, 80);
  border-radius: .35rem;
  outline: none;
  color: #fff;
  padding: 0 4%;
}
.footer form button {
  height: 2.5rem;
  width: 9rem;
  color: rgb(255, 199, 25);
  border-radius: .35rem;
  border: 1px solid rgb(255, 199, 25);
  background-color: transparent;
  color: #fff;
  font-weight: 100;
  font-size: .9rem;
}
.footer span {
  margin: .7rem 0;
  font-size: .75rem;
}
.footer span a {
  color: rgb(255, 199, 25);
}
.footer hr {
  margin: .5rem 0;
  width: 50rem;
  border: 1px solid rgb(64, 66, 84);
}